if SHIELD_LAMBBT_LEFT 

config ZMK_KEYBOARD_NAME
    default "LambBT"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LAMBBT_LEFT || SHIELD_LAMBBT_RIGHT

config ZMK_SPLIT
    default y

endif
